body {
  background: #a3a3a3;
}

p {
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer{
    text-align: center;
    color: white;
    overflow: hidden;
    background-color: #2e2e2e;
    padding: 20px 10px;
    min-height: 40px;
}

.footer a{
    display: inline-block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    border-color: #9e1922;
}

.footer a:hover {
    background-color: darkred;
    color: black;
}

.footer a:active {
    background-color: blue;
    color: white;
}

.member {
    text-align: center;
    margin-bottom: 1.5cm;
}

.member p , .abt {
    text-align: left;
    text-indent: 5%;
}

.anchor {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
}
  
li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-cont {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-cont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-cont a:hover {
  background-color: #eda1a1;
}
  
.dropdown:hover .dropdown-cont {
    display: block;
}

.aboutlist {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.songlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
}

.songlist li {
  color: #4d2929;
  text-align: center;
  float: none;
}

.collapsible {
  background-color: red;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible:hover{
  background-color: darkred;
}

.songinfo {
  display: none;
  overflow: hidden;
}


/* Fonts:
sans-serif
'Times New Roman', Times, serif
Arial, Helvetica, sans-serif
Verdana, Tahoma, sans-serif
'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
Georgia, Times, 'Times New Roman', serif
*/

h1, h2, h3, h4, h5, h6{
  font-family: Times;
  text-align: center;
  color: #170e99;
}

.footer h2 {
  color: lightblue;
}